@layout IntakeLayout
@page "/signup/verify"

<h2 style="color: var(--text-color-prim)">
    Check your email!
</h2>

<p>
    We've sent you an email with a verification link. Click it and this page will redirect you.
</p>