@layout IntakeLayout
@page "/signup/verify"
@using BlazorServerTest.Data.Users
@inject IAppUserManager _userManager
@inject NavigationManager _navigationManager
@inject ILogger<AccountVerification> _logger
@attribute [Authorize]

@code {
    [CascadingParameter] protected Task<AuthenticationState>? AuthState { get; set; }
    private SafeApplicationUser? SafeUser { get; set; }

    protected override async Task OnInitializedAsync() {
        var state = await AuthState!;
        SafeUser = await _userManager.GetSafeUserAsync(state.User);

        if ( SafeUser == null || SafeUser.EmailConfirmed )
            _navigationManager.NavigateTo("/");
    }
}

<div class="position-absolute">
    <a href="/">
        <img width="15px" height="15px" src="images/close-cross.svg" alt="Close tab cross"/>
    </a>
</div>

<AuthorizeView>
    <div class="text-center">
        <img src="images/email-success.svg" class="mb-3" style="max-width: 150px; width:70%" alt="Email Success Image"/>

        <h2 style="color: var(--text-color-prim)">
            You're in!
        </h2>

        <p>
            @(SafeUser?.FirstNameFormat()), click the link we've emailed you to verify your account.
        </p>
        
        <div class="sc-footer">
            Didn't receive the email? <a href="#">Resend email</a>
        </div>
    </div>
</AuthorizeView>